body {
    background-image: url("paper.jpg"); /* #6 */
    background-repeat: repeat; /* #7 */
    background-position: center; /* #8 */
    background-attachment: fixed; /* #9 */
}

#welcome {
    background-color: skyblue; /* #1 */
    opacity: 1.0; /* #2 */
    color: red; /* #3 */
    text-align: center !important; /* #4 */
    font-size: 40px; /* #5 */
    
    height: 50px;
    width: 400px;

    border-color: black; /* #10 */
    border-width: 5px; /* #11 */
    border-top-style: double; /* #12 */
    border-right-style: solid; /* #13 */
    border-bottom-style: double; /* #14 */
    border-left-style: solid; /* #15 */
    border-radius: 8px; /* #16 */
}

div.boxed {
    background-color: orange;
    box-shadow: 5px 5px lightblue /* #18 */
}

table, th, td {
    border: 1px solid /* #17 */
}